.App {
  max-width: 620px;
  max-height: 900px;
  margin: 50px auto;
}
.App .container {
  background: linear-gradient(180deg, #c1e8fe 20%, #efc977 80%);
  padding: 20px;
}
.App footer {
  font-size: 12px;
  margin-top: 20px;
}
