.Weather {
  position: relative;
  border-radius: 20px;
  min-width: 300px;
  min-height: 350px;
  max-width: 550px;
  max-height: 880px;
  background: #f6fcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 300px 300px 0px 0px;
  padding: 20px;
  margin: auto;
}
.city-name {
  position: relative;
  font-size: 32px;
  color: #f6fcfc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.Weather li {
  color: #5486bb;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather .search-engine {
  margin-left: 55px;
  margin-bottom: 60px;
  width: 210px;
  height: 22px;
  background: rgba(246, 252, 252, 0.8);
  border-radius: 50px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  color: #5486bb;
  line-height: 64px;
  margin: 10px;
}

.Weather .unit {
  color: #5486bb;
  font-size: 18px;
  position: relative;
  top: -32px;
  line-height: 1;
}

.Weather canvas {
  margin: 20px 80px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .Weather canvas {
    margin: 5px 40px;
    margin-bottom: 0;
  }
  .Weather form {
    margin: 20px;
    text-align: center;
  }
}
